  <div>
    <h2>Filtering using switchmapping</h2>
  </div>


  <div style="display: flex; justify-content: space-between;">
    <mat-form-field appearance="legacy" class="full-width" >
      <mat-label>Search by Title</mat-label>
      <input matInput  [formControl]="searchInput">
      <mat-icon matSuffix >search</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Columns</mat-label>
      <mat-select  #select multiple [formControl]="columns">
        <!-- <div class="select-all">
            <mat-checkbox [(ngModel)]="allSelected">Select All</mat-checkbox>
        </div> -->
        
        <mat-option  *ngFor="let column of allColumns" [value]="column">
          {{column}}
        </mat-option>
        
      </mat-select>
    </mat-form-field>

  </div>    

<ng-container *ngIf="displayedColumns$ | async as displayedColumns">
  <table mat-table [dataSource]="getGhibliFilms$ | async" class="mat-elevation-z8" width="100%">    
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="original_title">
      <th mat-header-cell *matHeaderCellDef> Original Title </th>
      <td mat-cell *matCellDef="let element"> {{element.original_title}} </td>
    </ng-container>
    
    <ng-container matColumnDef="original_title_romanised">
      <th mat-header-cell *matHeaderCellDef> Original Title Romanised </th>
      <td mat-cell *matCellDef="let element"> {{element.original_title_romanised}} </td>
    </ng-container>    
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Director </th>
      <td mat-cell *matCellDef="let element"> {{element.director}} </td>
    </ng-container>
  
    <ng-container matColumnDef="producer"> 
      <th mat-header-cell *matHeaderCellDef> Producer</th>
      <td mat-cell *matCellDef="let element"> {{element.producer}} </td>
    </ng-container>
    
    <ng-container matColumnDef="release_date"> 
      <th mat-header-cell *matHeaderCellDef> Release date </th>
      <td mat-cell *matCellDef="let element"> {{element.release_date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="running_time"> 
      <th mat-header-cell *matHeaderCellDef> Running time </th>
      <td mat-cell *matCellDef="let element"> {{element.running_time}} </td>
    </ng-container>
  
    <ng-container matColumnDef="rt_score"> 
      <th mat-header-cell *matHeaderCellDef> RT Score </th>
      <td mat-cell *matCellDef="let element"> {{element.rt_score}} </td>
    </ng-container>
  
    <ng-container matColumnDef="people"> 
      <th mat-header-cell *matHeaderCellDef> People </th>
      <td mat-cell *matCellDef="let element"> 
        <ul>
          <li *ngFor="let person of element.people">
            <img [src]="person" alt="" />            
        </ul>                
      </td>
    </ng-container>
  
    <ng-container matColumnDef="species"> 
      <th mat-header-cell *matHeaderCellDef> Species </th>
      <td mat-cell *matCellDef="let element"> 
        <ul>
          <li *ngFor="let specie of element.species">
            {{specie}}
        </ul>                
      </td>
    </ng-container>
  
    <ng-container matColumnDef="locations"> 
      <th mat-header-cell *matHeaderCellDef> locations </th>
      <td mat-cell *matCellDef="let element"> 
        <ul>
          <li *ngFor="let location of element.locations">
            {{location}}
        </ul>                
      </td>
    </ng-container>
    <ng-container matColumnDef="vehicles"> 
      <th mat-header-cell *matHeaderCellDef> vehicles </th>
      <td mat-cell *matCellDef="let element"> 
        <ul>
          <li *ngFor="let vehicle of element.vehicles">
            {{vehicle}}
        </ul>                
      </td>
    </ng-container>
  
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Url </th>
      <td mat-cell *matCellDef="let element"> 
        <a [href]="element.url" target="_blank">Link</a>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"> 
        <img [src]="element.image"  width="70px" alt="">        
      </td>
    </ng-container>
    
    <ng-container matColumnDef="movie_banner">
      <th mat-header-cell *matHeaderCellDef> Movie Banner </th>
      <td mat-cell *matCellDef="let element"> 
        <img [src]="element.movie_banner"  width="70px" alt="">        
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>

