<mat-sidenav-container class="main-container">
    <mat-sidenav [opened]="sideNavOpen" mode="side" [fixedInViewport]="true" >
        <div class="logo">
            <img src="assets/cronos_logo.svg"  alt="">
            <span>Playground App</span>
        </div>
        <mat-list>
            <mat-list-item [routerLink]="['/']"> Filtering by switchmapping</mat-list-item>
            <mat-list-item [routerLink]="['/filter-by-pipe']"> Filtering by pipe</mat-list-item>
            <mat-list-item [routerLink]="['/ngxs-example']"> Ngxs Example</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-topbar (menuButtonClicked)="toggleSidebar()"></app-topbar>
        <div class="content">
            <router-outlet></router-outlet>            
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

