<mat-sidenav-container class="main-container">
    <mat-sidenav [opened]="sideNavOpen" mode="side" [fixedInViewport]="true" >
        <div class="logo">
            <img src="assets/cronos_logo.svg"  alt="">
            <span>Playground App</span>
        </div>
        <mat-list>
            <mat-list-item [routerLink]="['/']"> Filtering by switchmapping</mat-list-item>
            <mat-list-item [routerLink]="['/filter-by-pipe']"> Filtering by pipe</mat-list-item>            
            <mat-list-item [matMenuTriggerFor]="menuFlux"> Flux Architecture</mat-list-item>
            <mat-list-item [matMenuTriggerFor]="menuDate"> Date Management</mat-list-item>
            <mat-list-item [matMenuTriggerFor]="menuForm"> Form Management</mat-list-item>
            <mat-list-item [matMenuTriggerFor]="menu">Design patterns</mat-list-item>
            <mat-list-item [routerLink]="['/basics/detection-strategy']">Detection strategy</mat-list-item>
            <mat-list-item [routerLink]="['/basics/comm-example']">Communication example</mat-list-item>
            <mat-list-item [routerLink]="['/stand-alone']">Standalone component</mat-list-item>
            <mat-list-item [matMenuTriggerFor]="menuAnimation">Animation</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-topbar (menuButtonClicked)="toggleSidebar()"></app-topbar>
        <div class="content">
            <router-outlet></router-outlet>            
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


<mat-menu #menu="matMenu" direction="horizontal">
    <button mat-menu-item [routerLink]="['/design-patterns/strategy']">        
        <span>Strategy</span>
    </button>    
    <button mat-menu-item [routerLink]="['/design-patterns/abstract-factory']">        
        <span>Abstract factory</span>
    </button>    
</mat-menu>


<mat-menu #menuDate="matMenu" direction="horizontal">
    <button mat-menu-item [routerLink]="['/date-management']">        
        <span>formatDate</span>
    </button>    
    <button mat-menu-item [routerLink]="['/date-management/date-helper']">        
        <span>Date Helper</span>
    </button>    
</mat-menu>



<mat-menu #menuForm="matMenu" direction="horizontal">
    <button mat-menu-item [routerLink]="['/basics/form-management']">        
        <span>Form Management</span>
    </button>    
      
</mat-menu>

<mat-menu #menuFlux="matMenu" direction="horizontal">
    <button mat-menu-item [routerLink]="['/flux-architecture']">        
        <span>Ngxs Example</span>
    </button>    
    <button mat-menu-item [routerLink]="['/flux-architecture/ngrx']">        
        <span>Ngrx Example</span>
    </button>    
      
</mat-menu>

<mat-menu #menuAnimation="matMenu" direction="horizontal">
    <button mat-menu-item [routerLink]="['/basics/animation']">        
        <span>Component animation</span>
    </button>    
    <button mat-menu-item [routerLink]="['/basics/route-animation']">        
        <span>Route animation</span>
    </button>    
      
</mat-menu>

